name: Build and push docker image to dockerhub

on:
  push:
    tags:
      - v*
  workflow_dispatch:

env:
  DOCKERHUB_REPO: evalphobia/dynamo-local-admin-docker

jobs:
  main:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
    - name: Set version
      id: set_version
      shell: bash
      run: echo "::set-output name=VERSION::${{ github.ref_name }}"
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ${DOCKERHUB_REPO}:latest
          ${DOCKERHUB_REPO}:${{ steps.set_version.outputs.VERSION }}
